.imagenes{
    width: 150px;
    height: 150px;
}
#divImagen{
    width: 300px !important;
    height: 160px !important;
    align-content: center;
}
#fotos{
    width: 300px;
    height: 300px;
    border: ivory 4px solid;
    border-radius: 20px;
    margin-top: 60px;
}
#descripcion{
    max-width: 70%;
    max-height: 150px;
    left: 50%;
    transform: translateX(-50%); 
    word-wrap: break-word;
    overflow: auto;
}
